.env
.env.* 
!.env.sample
# pour que tout le group est un projet fonctionnel sans config
!.env.dev
**/node_modules/
.DS_Store
persit/
database/
.vscode/

dist

# pour avoir une liste des tâche a faire qui reste en local
toodo.md