@import "tailwindcss";

@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* Chrome, Edge, Safari */
    ::-webkit-scrollbar {
    width: 8px;
    }

    ::-webkit-scrollbar-track {
    background: #FDFBF6;
    }

    ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: 2px solid #FDFBF6;
    }

    /* Firefox */
    * {
    scrollbar-width: thin;
    }


}